.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  width: 100%;

  a {
    text-decoration: none;
    color: var(--color-green-1);
  }

  &__upper {
    padding: 1.6rem 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(#151515, 0.05);

    font-family: var(--ff-secondary);
    font-size: 1.2rem;
    line-height: 1.25;
    font-weight: 400;
  }

  &__contacts {
    display: flex;
    gap: 3.3rem;
    align-items: center;
  }

  &__main {
    padding: 4rem 4.5rem 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.8rem;
    cursor: pointer;
  }

  &__actions {
    width: 9rem;
    max-width: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    gap: 3.8rem;
    align-items: center;
  }
}

.search {
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding: 1.1rem 1.6rem;
  width: 50rem;
  max-width: 50rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;

  &__select {
    flex: 1;
  }

  &__divider {
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary-4);
  }

  &__input {
    flex: 2;
  }
}

.user {
  cursor: pointer;
}

.cart {
  position: relative;
  cursor: pointer;

  &__count {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    display: grid;
    place-items: center;
    color: #fff;
    z-index: 10;
    transform: translate(-30%, 15%);

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      background-color: var(--color-red-1);
      border-radius: 50%;
      box-shadow: var(--shadow-1);
    }
  }
}

.categories {
  background-color: var(--color-primary-7);
  padding: 1.6rem 4.5rem;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4.5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
  }
}
