.category {
  grid-column: 1 / -1;
  padding: 0 4.5rem;

  &__location {
    padding: 1.6rem 0;
    display: flex;
    gap: .8rem;
    color: var(--color-primary-3);

    span:last-child {
      color: var(--color-primary-1);
    }
  }

  &__header {
    margin: .8rem 0;
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__view {
    position: relative;

    input {
      position: absolute;
      left: 0;
      opacity: 0;
    }

    label {
      display: flex;
      align-items: center;
      gap: .5rem;
      cursor: pointer;
      color: var(--color-primary-3);
    }

    input:checked + label {
      color: var(--color-primary-1);
    }

    input:checked + label svg path {
      stroke: var(--color-green-1);
    }
  }

  &__count {
    display: flex;
    gap: .4rem;

    span:first-child {
      background-color: var(--color-green-5);
      padding: 0 .8rem;
      color: var(--color-green-1);
      font-weight: 600;
    }

    span:last-child {
      color: var(--color-primary-3);
    }
  }

  &__title {
    margin-right: auto;
  }
}

.filters {}