:global {
  .u-headline-1 {
    font-size: 3.2rem;
    line-height: 1.4;
    font-weight: 600;
  }

  .u-headline-2 {
    font-size: 2.6rem;
    line-height: 1.5;
    font-weight: 600;
  }

  .u-headline-3 {
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: 600;
  }

  .u-headline-4 {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
  }

  .u-headline-5 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
  }

  .u-headline-6 {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
  }

  .u-btn {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
  }

  .u-body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.35;
  }
}
